.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  max-width: 1920px;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .main {
    grid-template-columns: 1fr 400px auto 1fr;
  }
}

.image__container {
  position: relative;
  overflow: hidden;
  height: 40vh;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .image__container {
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
  }
}

.type__interface {
  width: 100%;
  display: grid;
  align-self: center;
  justify-self: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto 100px;
}
@media screen and (min-width: 768px) {
  .type__interface {
    grid-column: 3/4;
  }
}

.letters__container {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 2rem;
  padding: 0 0.5rem;
}

.forward__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  align-self: center;
  justify-self: end;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
}
.mobileInput {
  width: 0;
  height: 0;
  border: none;
}

@media screen and (min-width: 768px) {
  .mobileInput {
    display: none;
  }
}
