.imageContainer {
  position: relative;
  overflow: hidden;
  height: 40vh;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .imageContainer {
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
  }
}
