.mobileKeyboardHandler {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileInput {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  border: none;
  outline: none;
}

.openKeyboard {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 10rem;
  line-height: 1;
}

@media screen and (min-width: 1024px) {
  .mobileKeyboardHandler {
    display: none;
  }
  .mobileInput {
    display: none;
  }
}
