.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 1px solid black;
  font-size: 1.5rem;
}

.oneLine {
  border: none;
  border-bottom: 1px solid black;
}

@media screen and (min-width: 768px) {
  .letter {
    width: 6rem;
    height: 6rem;
    border: 3px solid black;
    font-size: 2.5rem;
  }
  .letterCorrect {
    border: 1px solid green;
  }

  .letterCurrent {
    border: 1px solid blue;
  }

  .letterError {
    border: 1px solid red;
  }
}

.letterCorrect {
  border: 3px solid green;
}

.letterCurrent {
  border: 3px solid blue;
}

.letterError {
  border: 3px solid red;
}
