$green-100: hsla(73, 72%, 75%, 1);
$green-300: hsla(92, 62%, 72%, 1);
$green-500: hsla(110, 50%, 70%, 1);
$green-700: hsla(141, 43%, 62%, 1);
$green-900: hsla(163, 41%, 52%, 1);
$blue-100: hsla(182, 52%, 42%, 1);
$blue-300: hsla(194, 77%, 38%, 1);
$blue-500: hsla(199, 72%, 36%, 1);
$blue-700: hsla(206, 66%, 34%, 1);
$blue-900: hsla(206, 66%, 28%, 1);

$white: #fff;
