/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Set default font size and family */
body,
button,
input,
select,
textarea {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Remove default anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Set base styles for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
}

/* Set default border styles */
img,
iframe {
  border: none;
}

/* Set default form element styles */
button,
input,
select,
textarea {
  border-radius: 0;
  border: none;
  outline: none;
  background-color: transparent;
}
