.readingContainer {
  max-width: 1200px;
  height: calc(100vh - 48px);
  display: grid;
  grid-template-rows: 150px 1fr;
  margin-bottom: 1rem;
  margin: 0 auto;
}

.lettersContainer {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photosContainer {
  height: 100%;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .photosContainer {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    height: 50%;
  }
}

.letters {
  font-size: 4rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.imageContainer {
  position: relative;
  margin: 0 1rem;
  border: none;
  cursor: pointer;
}

.incorrectImage {
  outline: 4px solid red;
}
